coverage==4.2
djangorestframework==3.4.6
django-debug-toolbar==1.4
django-livereload==1.5
django-queryinspect==0.1.0
factory_boy==2.6.0
flake8==3.0.4
pylint==1.6.4
pylint-django==0.7.2
pytest==3.0.1
pytest-cache==1.0
pytest-cov==2.3.1
pytest-django==3.0.0
pytest-instafail==0.3.0
pytest-xdist==1.15.0
selenium==2.53.6
