djangorestframework==3.3.2
coverage==4.2
django-debug-toolbar==1.4
django-livereload==1.5
django-queryinspect==0.1.0
factory_boy==2.6.0
flake8==3.0.4
pylint==1.6.4
pylint-django==0.7.2
pytest==2.8.5
pytest-cache==1.0
pytest-cov==2.2.0
pytest-django==2.9.1
pytest-instafail==0.3.0
pytest-xdist==1.13.1
selenium==2.53.6
