@import 'style';

#map,
#speed-plot,
#polar-plot {
  height: 300px;
}

.axis, .grid {
  shape-rendering: crispEdges;
}

.x.axis,
.y.axis {
  line, path {
    fill: none;
    stroke: #000;
  }
}

.r.axis,
.a.axis{
  shape-rendering: auto;

  circle,
  line {
    fill: none;
    stroke: #777;
    stroke-dasharray: 1,4;
  }
}

.polar {
  stroke: red;
  stroke-width: 1.5px;
  fill: rgba(255, 0, 0, .10);

	&.max{
		stroke-dasharray: 2,2;
	}

  &.mean {
    fill: rgba(255, 0, 0, .20);
  }

  &.bearing {
    stroke: black;
    stroke-width: 3px;
  }

  &.wind {
    stroke: blue;
    stroke-width: 2px;
  }
}

#trim-slider-Slider {
  .slider-selection {
    background: gray;
  }

  .slider-track-low,
  .slider-track-high {
    background: #BBB;
  }
}

