{% extends "djangojs/jasmine-runner.html" %}
{% load static %}
{% load js %}

{% block js_init %}
	{{ block.super }}
	{% js 'jquery/dist/jquery.min.js' %}
	{% js 'd3/d3.min.js' %}
	{% js 'blanket/dist/jasmine/blanket_jasmine.min.js' %}
{% endblock %}

{% block js_content %}
	{% js 'activities/speed_viewer.js' data='data-cover' %}
	{% js 'activities/tests/speed_viewer.specs.js' %}
{% endblock %}

{% block body_content %}
	<div id="speed-plot" style="height: 200px; width: 200px;"></div>
{% endblock %}
