{% extends 'base.html' %}

{% block title_text %}{{ activity.details.name }}{% endblock %}

{% block extra_styles %}
<style>
  #map { height: 300px; }
  #speed-plot { height: 300px; }
	.axis, .grid {
	  shape-rendering: crispEdges;
	}

	.x.axis line,
	.x.axis path {
	  fill: none;
	  stroke: #000;
	}

	.y.axis text {
	    text-anchor: end;
	}

	.y.axis line,
	.y.axis path {
	  fill: none;
	  stroke: #000;
	}
</style>
<script>
var units = {{ units|safe }};
</script>
{% endblock %}

{% load static %}
{% block main_section %}
		<h1>{{ activity.details.name }}</h1>
		<p>{{ activity.details.description }}</p>
		<p>Date: {{ activity.stats.date }}</p>
		<p>Start Time: {{ activity.stats.start_time }}</p>
		<p>Duration: {{ activity.stats.duration }}</p>
		<p>Max speed: {{ activity.stats.max_speed }}</p>
		<a class="btn btn-default" href="{% url 'details' activity.id %}">Edit</a>
		<a class="btn btn-default" href="{% url 'delete_activity' activity.id %}">Delete</a>
		<div class="row">
			<div class="col-md-6" style="padding-top: 1em;">
				<div id="map"></div>
			</div>
			<div class="col-md-6" style="padding-top: 1em;">
				<div id="speed-plot"></div>
			</div>
		</div>
{% endblock %}

{% load js %}
{% block extra_bottom_js %}
		<script>
var pos = {{ pos_json|safe }},
    speed = {{ speed_json|safe }};
		</script>
	{% js 'd3/d3.min.js' %}
	{% js 'activities/track_viewer.js' %}
	{% js 'activities/speed_viewer.js' %}
		<script>
TrackViewer.drawmap(pos);
SpeedViewer.drawplot(speed);
		</script>
{% endblock %}
