{% extends 'base.html' %}

{% block title_text %}{{ activity.details.name }}{% endblock %}

{% block extra_styles %}
<style>
  #map { height: 300px; }
</style>
{% endblock %}

{% load static %}
{% block main_section %}
		<h1>{{ activity.details.name }}</h1>
		<p>{{ activity.details.description }}</p>
		<p>Date: {{ activity.stats.date }}</p>
		<p>Start Time: {{ activity.stats.start_time }}</p>
		<p>Duration: {{ activity.stats.duration }}</p>
		<a class="btn btn-default" href="{% url 'details' activity.id %}">Edit</a>
		<a class="btn btn-default" href="{% url 'delete_activity' activity.id %}">Delete</a>
		<div id="map"></div>
{% endblock %}

{% block extra_bottom_js %}
		<script>var pos = {{ pos_json|safe }};</script>
		<script type="text/javascript" src='{% static 'activities/track_viewer.js' %}'></script>
		<script>
TrackViewer.drawmap(pos);
		</script>
{% endblock %}
