<html>
  <head>
	  <title>SailStats</title>
	</head>
	<body>
		<h1>Add details about this new activity</h1>
		<form method="POST" action="{% url 'new_activity' activity.id %}" enctype="multipart/form-data">
			{% if form.errors %}
			<div class="form-group has-error">
				<span class="help-block">{{ form.name.errors }}</span>
			</div>
			{% endif %}
			{{ form.name }}
			{{ form.description }}
			{% csrf_token %}
			<input type="submit" value="OK" />
			<a href="{% url 'delete_activity' activity.id %}">Cancel</a>
		</form>

	</body>
</html>
