{% extends 'base.html' %}

{% block title_text %}About{% endblock %}

{% block main_section %}
  <h1>About SailTrail</h1>
  <p>SailTrail was born out of a passion for windsports and technology and inspired
  by activity tracking websites for other genres (e.g., <a href="http://strava.com">Strava</a>
  and <a href="http://runkeeper.com">Runkeeper</a>).</p>
  <p>SailTrail was built by Adam Riggall, a lifelong sailor and technology-lover.  Adam grew 
  up sailing Sunfish and Barnett 1400s on Kelly Lake in Wisconsin.  He eventually found his
  way to the Hoofer Sailing Club at the University of Wisonsin, Madison. With Hoofers he learned
  to windsurf, snowkite, and race a variety of sailboats (J22s, scows). These days Adam can be found
  sailing the Columbia River in his Cal 20 "Bessie" and racing with the vibrant Portland, OR 
  sailing community.</p>
{% endblock %}
