{% extends 'base.html' %}
{% load js %}

{% block title_text %}{{ activity.details.name }}{% endblock %}

{% block extra_styles %}
{% css 'activities/css/plots.css' %}
{% css 'seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css' %}
{% css 'bootstrap-toggle/css/bootstrap-toggle.min.css' %}
<style>
  .slider.slider-horizontal {
		width: 100%;
	}
</style>
{% endblock %}

{% load static %}
{% block main_section %}
		<h1>{{ activity.details.name }}</h1>
		<p>{{ activity.details.description }}</p>
		{% if not owner %}
		<p>Sailed by <a href="{% url "user" activity.user.username %}">{{ activity.user.username }}</a></p>
		{% endif %}
		<p>{{ activity.details.get_category_display }}</p>
		<p>Date: {{ activity.stats.date }}</p>
		<p>Start Time: {{ activity.stats.start_time }}</p>
		<p>Duration: {{ activity.stats.duration }}</p>
		<p>Distance: {{ activity.stats.distance }}</p>
		<p>Max speed: {{ activity.stats.max_speed }}</p>
		{% if activity.details.private %}
		<p><i>This activity is currently private</i></p>
		{% endif %}
		{% if owner %}
			<a class="btn btn-default" href="{% url 'details' activity.id %}">Edit</a>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#delete_modal" id="activity_delete_button">Delete</button>
		  {% url "delete_activity" activity.id as delete_url %}
		  {% include 'components/delete-modal.html' with action=delete_url %}
			<button id="upload-file-modal-btn" type="submit" class="btn btn-default" data-toggle="modal" data-target="#upload-modal">Add Track</button>
			{% url "upload_track" activity.id as upload_url %}
			{% include 'components/upload-modal.html' with header="Add track to this activity" action=upload_url %}
		{% endif %}
		{% include 'components/track-map-and-plot.html' %}

		{% if owner %}
		<ul>
			{% for track in activity.track.all %}
			<li><a href="tracks/{{ track.id}}/">{{ track.original_filename }} {% if track.trimmed %}(trimmed){% endif %}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
{% endblock %}

{% block extra_bottom_js %}
  {% js 'bootstrap-toggle/js/bootstrap-toggle.min.js' %}
	{% js 'activities/activity_viewer.bundle.js' %}
		<script>
var max_speed = +"{{ activity.stats.max_speed }}".split(' ')[0],
		units = {{ units|safe }},
		json_url = "{% url 'activity_json' activity.id %}";

activity_viewer.init(json_url, max_speed, units);

// Client-side validation of upload form
$('#upload-file-btn').on('click', function(evnt) {
  var filename = $('#id_upfile').val(),
    extension;

  // No file choosen/entered
  if (filename === "") {
    $("#upload-form .modal-body").prepend('<div class="alert alert-danger alert-dismissible" role="alert">' +
        '<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' +
        '<p>Please choose a file before clicking upload!</p></div>');
    evnt.preventDefault();
  } else {
    extension = filename.slice(filename.length-3).toLowerCase();

    // Unsupported filetype
    if (!(extension === "gpx" || extension === "sbn")) {
      $("#upload-form .modal-body").prepend('<div class="alert alert-danger alert-dismissible" role="alert">' +
          '<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' +
          '<p>Only GPX and SBN files are currently supported.</p></div>');
      evnt.preventDefault();
    }
  }
});
  {% if form.errors %}
      $('#upload-modal').modal('show');
  {% endif %}
  </script>
{% endblock %}
