{% extends 'base.html' %}

{% block title_text %}Home{% endblock %}

{% block main_section %}
			<h1>SailStats</h1>
			<p>The best place to track your windsports activites</p>
		  <h2>Activity List</h2>
				<hr>
				{% for activity in activities %}
				<div class='activity'>
					<h3><a href="/activities/{{ activity.id }}/">{{ activity.details.name }}</a></h3>
					<ul class="list-inline">
						<li class="activity-date">{{ activity.stats.date }}</li>
						<li class="activity-time">{{ activity.stats.start_time }}</li>
						<li class="activity-max-speed">{{ activity.stats.max_speed }}</li>
						<li class="activity-category">{{ activity.details.get_category_display }}</li>
					</ul>
				</div>
				<hr>
				{% endfor %}
				{% include 'components/form-errors.html' %}
				{% url "upload" as upload_url %}
				{% include 'components/upload-modal.html' with header="Upload new activity" action=upload_url %}
				<button id="upload-file-modal-btn" class="btn btn-default" data-toggle="modal" data-target="#upload-modal">Upload New Activity</button>
			</form>
{% endblock %}
