{% extends 'base.html' %}

{% block title_text %}Leaderboards{% endblock %}

{% block main_section %}
{% load unit_conversions %}
    <h1>Leaderboards</h2>
    <div class='row'>
        {% for category in leaders %}
        <div class="col-sm-6 col-md-4">
          <h3>{{ category.category }}</h3>
          <table class='table table-striped'>
            <tr><th>User</th><th>Max Speed</th></tr>
            {% for leader in category.leaders %}
            <tr><td><a href="{% url "user" leader.user__username %}">{{ leader.user__username }}</a></td><td>{{ leader.max_speed|speed }}</td></tr>
            {% endfor %}
          </table>
        </div>
        {% endfor %}
    </div>
{% endblock %}
