{% extends 'base.html' %}
{% load static %}
{% load unit_conversions %}

{% block title_text %}{{ track.activity.name }} ::
    {{ track.original_filename }}{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static "seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" %}" />
    <style>
        .slider.slider-horizontal {
            width: 100%;
        }
    </style>
{% endblock %}

{% block main_section %}
    <h1><a href="../..">{{ track.activity.name }}</a>
        :: {{ track.original_filename }}</h1>
    <a href="{% url 'activities:download_track_file' track.activity_id track.id %}" download>Download original track file</a><br />
    <button type="button" class="btn btn-default" data-toggle="modal"
            data-target="#delete_modal" id="activity_delete_button">Delete Track
    </button>
    {% if not last_track %}
        {% url "api:delete_track" track.activity_id track.id as delete_url %}
        {% include 'components/delete-modal.html' with target="track" action=delete_url %}
    {% else %}
        {% url "api:delete_activity" track.activity_id as delete_url %}
        {% include 'components/delete-modal.html' with target="activity" action=delete_url %}
    {% endif %}
    {% if track.trimmed %}
        <a href="{% url 'activities:edit_track_trim' track.activity_id track.id %}"
           class="btn btn-default">Adjust Trim</a>
        <a href="{% url 'api:untrim_track' track.activity_id track.id %}"
           class="btn btn-default">Untrim Track</a>
    {% else %}
        <a href="{% url 'activities:edit_track_trim' track.activity_id track.id %}"
           id="trim-track"
           data-toggle="tooltip" data-placement="right" title="Trim the track to only the area you care about"
           class="btn btn-default">Trim Track</a>
    {% endif %}
    <div class="row">
        <div class="col-md-6" style="padding-top: 1em;">
            {% include 'components/track-plot-with-controls.html' %}
        </div>
        <div class="col-md-6" style="padding-top: 1em;">
            {% include 'components/speed-plot.html' %}
        </div>
    </div>
{% endblock %}

{% block extra_bottom_js %}
    <script type="text/javascript" src="{% static "activities/activity_viewer.bundle.js" %}"></script>
    <script>
        var max_speed = +"{{ track.activity.max_speed|speed }}".split(' ')[0],
                wind_direction = "{{ track.activity.wind_direction }}"
                                 == "None" ? null
                        : +"{{track.activity.wind_direction}}",
                units = {{ units|safe }},
                urls = {
                    json: "{% url 'api:track_json' track.activity_id track.id %}",
                    winddir: "{% url 'api:activity_wind_direction' track.activity_id %}"
                };

        activity_viewer.init(urls, max_speed, wind_direction, units);
    </script>
{% endblock %}
