{% extends 'base.html' %}
{% load unit_conversions %}

{% block title_text %}{{view_user.username}}'s activities{% endblock %}

{% block main_section %}
      <div class="row">
        <div class="col-md-7">
          <h2>Activity List for {{view_user.username}}</h2>
          {% if is_paginated %}
              Showing activities {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }} total activities.
          {% else %}
              Showing all {{ activities.count }} activities.
          {% endif %}
          {% for activity in activities %}
          <div class='activity'>
            <h3><a href="/activities/{{ activity.id }}/">{{ activity.name }}</a>{% if activity.private %} <i>(Private)</i>{% endif %}</h3>
            <ul class="list-inline">
              <li class="activity-date">{{ activity.date }}</li>
              <li class="activity-time">{{ activity.start_time }}</li>
              <li class="activity-max-speed">{{ activity.max_speed|speed }}</li>
              <li class="activity-category">{{ activity.get_category_display }}</li>
            </ul>
          </div>
          <hr>
          {% endfor %}
          {% if is_paginated %}
            <nav>
              <ul class="pager">
                {% if page_obj.has_previous %}
                  <li><a href="{% url 'user' view_user.username %}?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Newer</a></li>
                {% else %}
                  <li class="disabled"><a href="#"><span aria-hidden="true">&larr;</span> Newer</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                  <li><a href="{% url 'user' view_user.username %}?page={{ page_obj.next_page_number }}">Older <span aria-hidden="true">&rarr;</span></a></li>
                {% else %}
                  <li class="disabled"><a href="#">Older <span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
              </ul>
            </nav>
          {% endif %}
        </div>
        <div class="col-md-5">
          <h2>Summary</h2>
          <table class='table table-striped'>
            <thead>
              <tr><th>Category</th><th>Activities</th><th>Max Speed</th><th>Total Distance</th></tr>
            </thead><tbody>
              {% for summary in summaries %}
                <tr><td>{{summary.category|category}}</td><td>{{summary.count}}</td><td>{{summary.max_speed|speed}}</td><td>{{summary.total_dist|distance}}</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}
