{% load ganalytics %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SailTrail :: {% block title_text %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
    {% ganalytics %}

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "leaflet/dist/leaflet.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "activities/css/plots.css" %}" />
    {% block extra_styles %}{% endblock %}
</head>
<body>
{% include 'components/main-nav.html' %}

<div class="container">
    {% block main_section %}{% endblock %}
    {% include 'components/footer.html' %}
</div>
{% if upload_form %}
    {% url "activities:upload" as upload_url %}
    {% include 'components/upload-modal.html' with modal_id="upload-modal" header="Upload new activity" action=upload_url %}
{% endif %}
    <script type="text/javascript" src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
{% include 'components/upload-validation.html' %}
{% block extra_bottom_js %}{% endblock %}
</body>
</html>
