<script>
  // Client-side validation of upload form
  $('#upload-file-btn').on('click', function(evnt) {
    var filename = $('#id_upfile').val(),
      extension;

    // No file choosen/entered
    if (filename === "") {
      $("#upload-form .modal-body").prepend('<div class="alert alert-danger alert-dismissible" role="alert">' +
          '<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' +
          '<p>Please choose a file before clicking upload!</p></div>');
      evnt.preventDefault();
    } else {
      extension = filename.slice(filename.length-3).toLowerCase();

      // Unsupported filetype
      if (!(extension === "gpx" || extension === "sbn")) {
        $("#upload-form .modal-body").prepend('<div class="alert alert-danger alert-dismissible" role="alert">' +
            '<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' +
            '<p>Only GPX and SBN files are currently supported.</p></div>');
        evnt.preventDefault();
      }
    }
  });
  {% if form.errors %}
      $('#upload-modal').modal('show');
  {% endif %}
</script>
